openapi: 3.0.0
info:
  title: Bet365 API Endpoints
  description: |
    Documentation for Bet365-specific endpoints via BetsAPI
    
    # Introduction
    Covers all markets/odds available on Bet365 website, except:
    - Outrights
    - Bet Builder odds

    # Authentication
    All requests require a token parameter:
    Token: 180846-0nb22aL4DeG73U

    # Field Glossary
    This section explains the fields in bet365/* API responses:

    ## Betting Fields
    - BE: Bet
    - BO: Base Odds/Open Bets Count
    - EW: Each Way
    - MB: Max Bet
    - MT: Market Type
    - OD: Odds
    - OH: Odds History
    - ST: Stake

    ## Event Information
    - EI: Event ID
    - ET: Event Type/End Time
    - EV: Event
    - FI: Fixture Parent ID
    - FS: Fixture Started
    - IF: In Play
    - IP: In Play Available Flag/Parent ID
    - SM: Start Time
    
    ## Scores and Statistics
    - DS: Display Score
    - ES: Extra Scores
    - HS: Hash
    - PG: Penalty Goals
    - SC: Score
    - SS: Short Score/Suspended Selection
    - S1-S8: MatchLive Stats 1-8
    
    ## Team Information
    - HA: Handicap
    - HD: Handicap Formatted
    - KC: Kit Colors
    - KI: Kit ID
    - TE: Team
    - TG: Team Group
    
    ## Market Information
    - MA: Market
    - MC: Market Count
    - MG: Market Group
    - MM: Merge Market
    - MR: More Markets
    
    ## Status and Control
    - BC: Book Closes/Close Bets Count
    - CB: Close Bets Disabled/Enabled
    - CP: Current Progress/Period
    - DC: Display Clock
    - SU: Success/Suspended
    - TP: Time Stamp
    
    ## Media and Display
    - AI: Animation ID
    - AM: Animation Icon
    - AU: Audio Available
    - AV: Archive Video Available
    - IG: Image ID
    - VI: Video Available
    - VS: Video Stream
    
    ## Competition Info
    - CC: Competition Code
    - CI: Class ID/Cup Icon
    - CK: Competition Key
    - CT: Competition Name
    - LG: Soccer League
    
    ## Additional Data
    - AD: Additional Data
    - AS: Additional Stats
    - EX: Extra Data 1
    - ED: Extra Data 2
    - XI: Extra Info Node
    
    ## Time and Status
    - EA: Event Time
    - MD: MatchLive Period
    - PE: Period
    - TM: Stat Time/TMR Mins
    - TS: TMR Secs
    - TT: TMR Ticking
    - ZA: Timezone Adjustment

    For a complete list of all fields, see the detailed API documentation.

    # Getting Prematch Odds - Step by Step
    To get prematch odds for specific sports events:

    1. Get upcoming events using `/v1/bet365/upcoming`:
    ```bash
    # Example for Soccer (sport_id=1)
    curl -X GET "https://api.betsapi.com/v1/bet365/upcoming?sport_id=1&token=180846-0nb22aL4DeG73U"
    ```

    2. From the response, get the FI (Fixture ID):
    ```json
    {
      "success": 1,
      "results": [
        {
          "id": "123456",
          "sport_id": "1",
          "time": "1642161600",
          "home": {"name": "Team A"},
          "away": {"name": "Team B"},
          "FI": "987654321"  // This is what you need
        }
      ]
    }
    ```

    3. Use the FI to get prematch odds:
    ```bash
    curl -X GET "https://api.betsapi.com/v1/bet365/start_sp?FI=987654321&token=180846-0nb22aL4DeG73U"
    ```

    Common Sport IDs:
    - Soccer: 1
    - Basketball: 18
    - Volleyball: 91

servers:
  - url: https://api.betsapi.com
    description: BetsAPI Production Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
      description: API token (180846-0nb22aL4DeG73U)
      
  schemas:
    BaseResponse:
      type: object
      properties:
        success:
          type: integer
          enum: [1]
          description: Success indicator
    
    Team:
      type: object
      properties:
        id:
          type: string
          description: Team ID
        name:
          type: string
          description: Team name
        image_id:
          type: string
          description: Team image ID
        cc:
          type: string
          description: Country code
          
    League:
      type: object
      properties:
        id:
          type: string
          description: League ID
        name:
          type: string
          description: League name
        cc:
          type: string
          description: Country code
          
    Score:
      type: object
      properties:
        home:
          type: string
          description: Home team score
        away:
          type: string
          description: Away team score
          
    InplayEvent:
      type: object
      properties:
        id:
          type: string
          description: Event ID
        sport_id:
          type: string
          description: Sport ID
        time:
          type: string
          description: Event start time (UNIX timestamp)
        time_status:
          type: string
          description: Event status (1 = In-Play)
        league:
          $ref: '#/components/schemas/League'
        home:
          $ref: '#/components/schemas/Team'
        away:
          $ref: '#/components/schemas/Team'
        ss:
          type: string
          description: Current score
          
    InplayResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/InplayEvent'

paths:
  /v1/bet365/inplay:
    get:
      summary: Get InPlay Events
      description: |
        Get currently live events from Bet365.
        
        Example:
        ```
        curl "https://api.betsapi.com/v1/bet365/inplay?token=180846-0nb22aL4DeG73U"
        ```
      security:
        - ApiKeyAuth: []
      parameters:
        - name: raw
          in: query
          description: Return raw Bet365 body without parsing
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InplayResponse'
        '401':
          description: Unauthorized - Invalid token
        '429':
          description: Too Many Requests

  /v1/bet365/event:
    get:
      summary: Get Event Details
      description: |
        Get detailed information about a specific event including scores, stats, and odds.
        
        Example:
        ```
        curl "https://api.betsapi.com/v1/bet365/event?token=180846-0nb22aL4DeG73U&FI=60504279"
        ```

        Response types vary by sport:
        - Soccer: bet365_event.soccer.json (with/without stats)
        - Basketball: bet365_event.basketball.json
        - Cricket: bet365_event.cricket.json (with optional lineup)
      security:
        - ApiKeyAuth: []
      parameters:
        - name: FI
          in: query
          description: FI from Bet365 Inplay
          required: true
          schema:
            type: string
        - name: stats
          in: query
          description: Extra stats info (only provided for Soccer and Cricket)
          required: false
          schema:
            type: boolean
            default: false
        - name: lineup
          in: query
          description: Lineup info (only provided for Cricket right now)
          required: false
          schema:
            type: boolean
            default: false
        - name: raw
          in: query
          description: Return raw Bet365 body without parsing
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      results:
                        type: object
                        description: Event details (schema varies by sport)
        '401':
          description: Unauthorized - Invalid token
        '429':
          description: Too Many Requests

  /v1/bet365/upcoming:
    get:
      summary: Get Upcoming Events
      description: |
        Get upcoming events from Bet365.
        Note: league.id/home.id/away.id returned might be different than event/upcoming.
        
        Example:
        ```
        curl "https://api.betsapi.com/v1/bet365/upcoming?sport_id=1" -H "X-API-TOKEN: 180846-0nb22aL4DeG73U"
        ```
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sport_id
          in: query
          description: Sport ID (see Reference)
          required: true
          schema:
            type: integer
        - name: league_id
          in: query
          description: Filter by specific league
          required: false
          schema:
            type: integer
        - name: day
          in: query
          description: Format YYYYMMDD, eg. 20161201
          required: false
          schema:
            type: string
            pattern: '^\d{8}$'
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/InplayEvent'
        '401':
          description: Unauthorized - Invalid token
        '429':
          description: Too Many Requests

  /v1/bet365/start_sp:
    get:
      summary: Get PreMatch Odds
      description: |
        Get prematch odds for an event.
        
        Example:
        ```
        curl "https://api.betsapi.com/v1/bet365/start_sp?token=180846-0nb22aL4DeG73U&event_id=60504279"
        ```
      security:
        - ApiKeyAuth: []
      parameters:
        - name: FI
          in: query
          description: Event ID from bet365/upcoming
          required: true
          schema:
            type: string
        - name: raw
          in: query
          description: Return raw Bet365 body without parsing
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      results:
                        type: object
                        description: Prematch odds data
        '401':
          description: Unauthorized - Invalid token
        '429':
          description: Too Many Requests

  /v1/bet365/result:
    get:
      summary: Get Event Results
      description: |
        Get results for events. Useful when you have FI from Bet365 XML Feed.
        
        Example:
        ```
        curl "https://api.betsapi.com/v1/bet365/result?token=180846-0nb22aL4DeG73U&event_id=63543522"
        ```
      security:
        - ApiKeyAuth: []
      parameters:
        - name: event_id
          in: query
          description: |
            Event ID (FI) from Bet365 Inplay.
            Can send multiple IDs (max 10) as comma-separated: event_id=1,2,3,4
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      results:
                        type: object
                        description: Event results data
        '401':
          description: Unauthorized - Invalid token
        '429':
          description: Too Many Requests

  /v3/bet365/prematch:
    get:
      summary: Get PreMatch Odds (v3)
      description: |
        Get prematch odds for an event using the v3 API endpoint.
        This endpoint provides more structured and detailed odds information compared to v1.

        Example workflow:
        1. Get event ID from /bet365/upcoming endpoint
        2. Use that event ID (FI) to get prematch odds
        3. Parse the structured response to get odds for specific markets

        Example markets available:
        - Asian Handicap
        - Goal Line (Over/Under)
        - First Half Asian Handicap
        - First Half Goal Line
        - Asian Total Corners
        - Asian Handicap Corners
        - First Half Asian Corners
        - Asian Total Cards
        - Player Cards
        - Team Performance
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: API token (180846-0nb22aL4DeG73U)
        - name: FI
          in: query
          required: true
          schema:
            type: string
          description: Event ID from bet365/upcoming endpoint
        - name: raw
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
          description: If 1, returns raw Bet365 body without parsing
      responses:
        '200':
          description: Successful response with prematch odds
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum: [1]
                    description: Success indicator
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        FI:
                          type: string
                          description: Event ID
                        event_id:
                          type: string
                          description: Internal event ID
                        asian_lines:
                          type: object
                          description: Asian handicap and goal line markets
                          properties:
                            updated_at:
                              type: string
                              description: Last update timestamp
                            sp:
                              type: object
                              properties:
                                asian_handicap:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    odds:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          odds:
                                            type: string
                                          header:
                                            type: string
                                          handicap:
                                            type: string
                                goal_line:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    name:
                                      type: string
                                    odds:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                          odds:
                                            type: string
                                          header:
                                            type: string
                                          name:
                                            type: string
              example:
                success: 1
                results:
                  - FI: "168201273"
                    event_id: "8364372"
                    asian_lines:
                      updated_at: "1738525154"
                      sp:
                        asian_handicap:
                          id: "938"
                          name: "Asian Handicap"
                          odds:
                            - id: "2055912798"
                              odds: "1.900"
                              header: "1"
                              handicap: "0.0, +0.5"
                            - id: "2055912799"
                              odds: "2.030"
                              header: "2"
                              handicap: "0.0, -0.5"
                        goal_line:
                          id: "10143"
                          name: "Goal Line"
                          odds:
                            - id: "2055912800"
                              odds: "2.000"
                              header: "Over"
                              name: "2.0, 2.5"
                            - id: "2055912801"
                              odds: "1.900"
                              header: "Under"
                              name: "2.0, 2.5"
