openapi: 3.0.0
info:
  title: BetsAPI Integration
  description: API documentation for BetsAPI integration with sports event data
  version: 1.0.0
servers:
  - url: https://api.b365api.com
    description: BetsAPI Production Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: token
      description: BetsAPI token required for authentication
  
  schemas:
    Error:
      type: object
      properties:
        success:
          type: integer
          enum: [0]
        error:
          type: string
          description: Error message

    Timer:
      type: object
      properties:
        tm:
          type: string
          description: Current time in the match
        q:
          type: string
          description: Current quarter/period
          
    Team:
      type: object
      properties:
        name:
          type: string
          description: Team name
        id:
          type: integer
          description: Team ID
          
    League:
      type: object
      properties:
        name:
          type: string
          description: League name
        id:
          type: integer
          description: League ID
          
    Match:
      type: object
      properties:
        id:
          type: integer
          description: Match ID
        sport_id:
          type: integer
          description: Sport ID
        time_status:
          type: string
          description: Match status (1 = live)
        league:
          $ref: '#/components/schemas/League'
        home:
          $ref: '#/components/schemas/Team'
        away:
          $ref: '#/components/schemas/Team'
        ss:
          type: string
          description: Current score
        timer:
          $ref: '#/components/schemas/Timer'

paths:
  /v1/events/inplay:
    get:
      summary: Get live events
      description: Retrieve all currently live events for a specific sport
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sport_id
          in: query
          description: ID of the sport (1=Soccer, 18=Basketball, etc)
          required: true
          schema:
            type: integer
        - name: league_id
          in: query
          description: Optional league ID to filter results
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum: [1]
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'
        '401':
          description: Unauthorized - Invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/events/upcoming:
    get:
      summary: Get upcoming events
      description: Retrieve upcoming events for a specific sport
      security:
        - ApiKeyAuth: []
      parameters:
        - name: sport_id
          in: query
          description: ID of the sport
          required: true
          schema:
            type: integer
        - name: league_id
          in: query
          description: Optional league ID to filter results
          required: false
          schema:
            type: integer
        - name: day
          in: query
          description: Optional date filter (YYYY-MM-DD)
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum: [1]
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Match'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'

  /v1/event/view/{event_id}:
    get:
      summary: Get event details
      description: Retrieve detailed information about a specific event
      security:
        - ApiKeyAuth: []
      parameters:
        - name: event_id
          in: path
          description: ID of the event
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: integer
                    enum: [1]
                  results:
                    $ref: '#/components/schemas/Match'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
